---
import App from "@/layouts/app.astro"
import vue from "@/assets/vue.svg?raw"
import cloverRaw from "@/assets/clover.svg?raw"
import cloverUrl from "@/assets/clover.svg?url"
import Menu from "@/components/Menu/menu.astro"
import { getMenu } from "@/scripts/server/menu"
import LiquidLogo from "@/components/LiquidLogo/index.vue"
import ReadMe from "@/components/ReadMe/index.astro"

const menu = await getMenu("./src/pages")
const base = import.meta.env.BASE_URL
---

<App github="https://github.com/nanarino/na-vue">
    <header>
        <section class="logo-bg">
            <LiquidLogo imageUrl={cloverUrl} client:only="vue" />
        </section>
        <nav class="logo">
            <a
                class="logo clover"
                title="nanarinostyl"
                href="https://nanarino.github.io/stylus/"
                target="_blank"
            >
                <Fragment set:html={cloverRaw} />
                <i>nanarino stylus design</i>
            </a>
            <a
                class="logo vue"
                title="vue"
                href="https://vuejs.org/"
                target="_blank"
            >
                <Fragment set:html={vue} />
                <i>vuejs</i>
            </a>
        </nav>
        <h1 class="na-font-mono" style="font-size: 5.5rem;font-weight: 400;">
            {"<na-vue/>"}
        </h1>
        <p class="na-paragraph" data-size="4" style="margin: 0;">
            一個<span class="na-font-mono">
                nanarinostyl
            </span>設計語言試作的<span class="na-font-mono"> vue </span>元件合集
        </p>
    </header>
    <nav class="pages">
        <h2 class="na-title">元件列表</h2>
        <Menu menu={menu} base={base} />
    </nav>
    <main class="readme">
        <h2 class="na-title">食用方式</h2>
        <ReadMe />
    </main>
</App>

<style>
    header {
        position: relative;
        width: 100%;
        overflow: hidden;
        user-select: none;
        display: grid;
        gap: 16px;
        align-content: center;
        height: 100vh;
        background-color: rgb(var(--white));

        @supports (height: 100dvh) {
            & {
                height: 100dvh;
            }
        }

        .logo-bg {
            position: absolute;
            inset: 99px;
        }

        h1,
        p {
            text-align: center;
            margin: 0;
            z-index: 6;
            mix-blend-mode: difference;
            color: #0f0;
            :root[data-theme="dark"] & {
                color: #f0f;
            }
        }
    }

    nav.logo {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: repeat(2, min-content);
        justify-content: center;
        align-content: center;

        & a {
            display: inline-flex;
            position: relative;
            border-radius: 50%;

            & i {
                font-size: 0;
            }

            & :global(svg) {
                width: 6em;
                height: 6em;
                padding: 1.5em;
                mix-blend-mode: difference;
            }
        }
    }

    a.clover :global(path) {
        transition: 0.3s;

        &:hover {
            --pinkpurple-6: var(--lime-6);
            transform: scale(1.05) translate(-12px, -12px);
        }
    }

    a.vue :global(svg) {
        transition: 0.3s;

        &:hover {
            --magenta-5: var(--green-9);
            --pinkpurple-5: var(--green-5);
        }
    }

    nav.pages {
        padding: 2em;
        background: rgb(var(--black));
        h2 {
            padding: 0 2rem;
            color: rgb(var(--white));
        }
    }

    main.readme {
        padding: 4em;
    }
</style>
